.formContainer {
  margin-top: 100px;
}

.text-success {
  color: #21BA45;
}

.text-danger {
  color: #DB2828;
}

.input-error input {
  border-color: #DB2828 !important;
}

.input-success input {
  border-color: #21BA45 !important;
}

.input-warning input {
  border-color: #FBBD08 !important;
}