body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

.formContainer {
  margin-top: 100px;
}

.text-success {
  color: #21BA45;
}

.text-danger {
  color: #DB2828;
}